*{
    box-sizing: border-box;
    
    
}


#SignIn_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


#signIn_logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-size: cover;
    margin-right: 4rem;
}

.trial{
    background-color: #0FD00F;
    width: 60%;
    height: 100%;
    border-radius:  50px 50px 0px 20px;
    margin-left: 10rem;
    margin-bottom: 5rem;
    background-image: url(home-pic.jpg);
    background-position: center;
    background-size: cover;
}
/* #signIn_logo img{
    margin: 1rem;
    width: 380px;
    height: 380px;
 
} */

#signIn_Components{
    display: flex;
    flex-direction: row;
}

#signIn_Input_Components{
    width: 50%;
    border-radius: 20px 0px 0px 20px;
    margin-left: 4rem;
    background-color: #ffffff;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0px solid black;
    
}

/* #top_Icon_SignInPage{
} */

/* #innovation_Icon img{
    width: 449.19px;
    height: 477.92px;
    margin-top: 8rem;
    left: 207.91px;
    
} */

/* #welcome_Note_SignIn_Page{
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
} */

#welcome_Note_SignIn_Page img{
    margin-left: -35rem;
    width: 200px;
    height: 100px;
}

#welcome_Note_SignIn_Page h1{
   
    
    color: #ffffff;
}

#ubunifu_Space{
    align-items: end;
    margin-left: .25rem;
    font-weight: 800;
    font-size: 55px;
    color: #ffffff;
}

#form-SignIn-container{
    height: auto;
    justify-content: center;
    align-items: center;
  
    padding: 20px;

    border-radius: 12px;
    width: 100%;
}


.formGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .25rem;
    padding: 20px;
}

.Input_formLabel{
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    
    
}

.formiInput{
    
    height: 4rem;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

#forgot-password{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    text-align: end;
    margin-right: 2rem;
    cursor: pointer;
}

#new-here p{
    color: rgb(0, 0, 0);
    text-align: end;
    font-weight: bold;
}

#signUp_link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2rem;
}

.signIn_Button_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .25rem;
    padding: 20px;
}

#signIn_Button{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: #0FD00F;
}

@media screen and (max-width: 768px){

    #ubunifu_Space{
        align-items: end;
        margin-left: .25rem;
        font-weight: 400;
        font-size: 25px;
        color: #ffffff;
    }

    #welcome_Note_SignIn_Page img{
        width: 100px;
        height: 100px;
    }

    #innovation_Icon_SignInPage{
        display: none;
    }

    #SignIn_container{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form-SignIn-container{
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 12px;
        width: 100%;
    }


}

@media screen and (max-width: 480px) {

    #ubunifu_Space{
        align-items: end;
        margin-left: .25rem;
        font-weight: 200;
        font-size: 12px;
        color: #ffffff;
    }

    #welcome_Note_SignIn_Page img{
        width: 100px;
        height: 100px;
    }

    #SignIn_container{
        margin-top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form-SignIn-container{
        
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        width: 100%;
    }

    #signIn_logo img{
        margin: 1rem;
        width: 100px;
        height: 100px;
    }

    .formGroup{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
    .formLabel{
        color: rgb(255, 255, 255);
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        
        
    }
    
    .formiInput{
        
        height: 2.5rem;
        border-radius: 5px;
        
    }
    
    #forgot-password{
        color: blue;
        text-decoration: none;
        font-weight: bold;
        text-align: end;
    }
    

}